.Sidebar{
    min-width: 15em;
    width: 15em;
    display:block;
    padding: 15px;
    background-color: rgba(247, 247, 247, 0);
    text-align: left;
}
a{
    text-decoration: none;
    color: #5F5C6D;
    font-family: "Arial";
}

#feedLink, #historyLink, #overviewLink, #helpLink{
    font-size:2em;
}


@media screen and (max-width: 600px){
    .Sidebar {
        width:100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px 0px 0px 0px;
        padding:5px;
        justify-content: end;
    }
    #feedLink, #historyLink, #overviewLink,#helpLink{
        font-size:1.1em;
        margin:5px;
    }
}